<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar Maceta</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <a class="navbar-brand" href="/admin/dashboard">Vive Verde</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/ventas/listar">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plantas/listar">Plantas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/decoracion/listar">Decoración</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/grow/listar">Grow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tierra/listar">Tierra</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/maceta/listar">Macetas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/proveedores/listar">Proveedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clientes/listar">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/horas">Horas</a>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="container mt-5">
            <h1>Editar Maceta</h1>
            <div class="separator"></div>
            <form th:action="@{/maceta/editar/{id}(id=${maceta.id})}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nombre" class="form-title">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" th:value="${maceta.nombre}"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="color" class="form-title">Color</label>
                        <select class="form-control" id="color" name="color" required>
                            <option th:each="color : ${coloresMaceta}" th:value="${color}" th:text="${color}"
                                    th:selected="${color == maceta.color}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="marca" class="form-title">Marca</label>
                        <input type="text" class="form-control" id="marca" name="marca" th:value="${maceta.marca}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="tamaño" class="form-title">Tamaño</label>
                        <input type="text" class="form-control" id="tamaño" name="tamaño" th:value="${maceta.tamaño}"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="modelo" class="form-title">Modelo</label>
                        <select class="form-control" id="modelo" name="modelo" required>
                            <option th:each="modelo : ${modelosMaceta}" th:value="${modelo}" th:text="${modelo}"
                                    th:selected="${modelo == maceta.modelo}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="material" class="form-title">Material</label>
                        <select class="form-control" id="material" name="material" required>
                            <option th:each="material : ${materialesMaceta}" th:value="${material}" th:text="${material}"
                                    th:selected="${material == maceta.material}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="precio" class="form-title">Precio</label>
                        <input type="number" class="form-control" id="precio" name="precio" th:value="${maceta.precio}"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="stock" class="form-title">Stock</label>
                        <input type="number" class="form-control" id="stock" name="stock" th:value="${maceta.stock}"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="form-title">Descripción</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" required
                              th:text="${maceta.descripcion}"></textarea>
                </div>
                <!-- Campo para seleccionar proveedores con checkboxes -->
                <div class="form-group">
                    <label class="seleccionar-proveedores">Seleccionar Proveedores:</label><br />
                    <div th:each="proveedor : ${proveedores}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:id="'proveedor-' + ${proveedor.id}"
                                   th:value="${proveedor.id}" name="proveedoresIds"
                                   th:checked="${proveedoresSeleccionados.contains(proveedor.id)}" />
                            <label class="form-check-label" th:for="'proveedor-' + ${proveedor.id}"
                                   th:text="${proveedor.nombre}"></label>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <!-- Botones para guardar cambios y cancelar -->
                <button type="submit" class="btn btn-success">Aceptar</button>
                <a th:href="@{/maceta/listar}" class="btn btn-danger">Cancelar</a>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>